<app-banner-widget [heading]="'OUR VISION, MISSION AND VALUES'"></app-banner-widget>

<div class="section about">


  <p>
    The <b>Vision</b> of Auto Service and Repairs is to be the first choice, profitable black owned
    Auto Repairs
    and Service in Africa.
  </p>
  <hr>
  <p>
    <b> Our Mission</b> is <b>MOTOR SURGERY</b> Auto Service and Repairs offers the high quality Auto Service and
    Repairs at the
    competitive cost and at the convenient time to the satisfaction of the customer.
  </p>
  <hr>
  <p>
    The <b>values</b> of the company are: <br>
    1) Professional and Quality of services and goods including delivery on time and to the satisfaction of the
    customer; <br> <br>
    2) Speed at which the delivery of services and goods are made which means the customer does not have to suffer the
    inconvenience of waiting and delays; <br> <br>
    3) High Moral of staff to ensure extra effort in performance to stand our own against competition; and <br> <br>
    4) Conduct business within the system and structure based on respect of effective governance and controls.

  </p>
  <hr>
  <br>
  <div class="action">
    <a routerLink="/book"><button>Make a booking</button></a>

  </div>
</div>
