<app-banner-widget [heading]="' About Us'"></app-banner-widget>
<div class="section about">

  <p>
    <br><br>
    A Corporate Business Profile of Sello Wa Ga Gadifele Mosai Holding, otherwise known as SEWGAMO Holding. SEWGAMO
    Holding operate as a 100% Black Owned holding company meaning that it is a company that does not have any
    operations, activities, or other active business itself. Below are the Strategic Business Units making up SEWGAMO
    Holding:
    <br><br><br>
  </p>

  <app-business-units [hideBanner]="hideBanner"></app-business-units> 



  

</div>
