
<app-nav></app-nav>
<router-outlet></router-outlet>
<div class="section footer">

    <div class="items">
      <div class="item">
        Business Units
      </div>
      <div class="item">
        About us
      </div>
      <div class="item">
        Contact us
      </div>
    </div>
  
    <!-- <p>
      Weekdays: 7h00 – 16h00 <br>
      Saturday: 7h00 – 13h00 <br>
      Sanday & public holidays: Closed <br>
    </p> -->
  
    <div class="social">
      <a href="https://www.instagram.com/motor_surgery_za/" target="_blank">
        <img class="menu" src="assets/images/i.png" alt="">
      </a>
      <a href="https://www.facebook.com/Motor-Surgery-ZA-100704032310207"  target="_blank">
        <img class="menu" src="assets/images/f.png" alt="">
      </a>
      <a href="https://www.instagram.com/motor_surgery_za/"  target="_blank">
        <img class="menu" src="assets/images/t.png" alt="">
      </a>
  
  
    </div>
  </div>
  